{% extends 'frontBase.html.twig' %}

{% block body %}
    <div class="offcanvas-overlay"></div>
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Détails du Produit - {{ detail.nomProduit }}</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="">Acceuil</a></li>
                                    <li><a href="">Boutique</a></li>
                                    <li class="active" aria-current="page">Product Details {{ detail.nomProduit }}</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- Start Product Details Section -->
    <div class="product-details-section">
        <div class="container">

            <div class="row">
                <!-- Start Sort Wrapper Box -->
                <!-- Start Sort tab Button -->




                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}



            </div>
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="product-details-gallery-area" >
                        <!-- Start Large Image -->
                        <div class="product-large-image product-large-image-horaizontal ">
                            <div >
                                <div class="product-image-large-image   img-responsive">
                                    <img src="{{ asset('../assets/images/' ~ detail.pathImage) }}" alt="">
                                </div>

                            </div>
                        </div>
                        <!-- End Large Image -->

                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="product-details-content-area product-details--golden">
                        <!-- Start  Product Details Text Area-->
                        <div class="product-details-text">
                            <h4 class="title">{{ detail.nomProduit }}</h4>
                            <div class="d-flex align-items-center">
                     {#          you can use this to rate the products yaani for 1..5 do its easy                      #}
                                <ul class="review-star">
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                    <li class="fill"><i class="ion-android-star"></i></li>
                                    <li class="empty"><i class="ion-android-star"></i></li>
                                </ul>
                                <a href="#" class="customer-review ml-2"> (client review) </a>
                            </div>
                            <div class="price">{{ detail.prixUni }} DT</div>
                            <p>Description: {{ detail.description }}</p>
                        </div> <!-- End  Product Details Text Area-->
                        <!-- Start Product Variable Area -->
                        <div class="product-details-variable">
                            <h4 class="title">options disponibles</h4>
                            <!-- Product Variable Single Item -->
                            <div class="variable-single-item">
                                <div class="product-stock"> <span class="product-stock-in"><i
                                                class="ion-checkmark-circled"></i></span> Quantié: {{ detail.quantite }}</div>
                            </div>
                            <!-- Product Variable Single Item -->
                            <div class="d-flex align-items-center ">
                                <div class="variable-single-item ">

                                </div>

                                <div class="product-add-to-cart-btn">
                                    <a href="{{ path('ajouterProduitPanier',{'id':detail.produitId}) }}" class="btn btn-block btn-lg btn-black-default-hover"
                                       >+ Ajouter au panier</a>
                                </div>
                            </div>
                            <!-- Start  Product Details Meta Area-->
                            <div class="product-details-meta mb-20">

                            </div> <!-- End  Product Details Meta Area-->
                        </div> <!-- End Product Variable Area -->

                        <!-- Start  Product Details Catagories Area-->
                        <div class="product-details-catagory mb-2">
                            <span class="title">CATEGORIE: {{ detail.categorie }}</span>
                            <ul>
{#                                <li><a href="#">BAR STOOL</a></li>#}
{#                                <li><a href="#">KITCHEN UTENSILS</a></li>#}
{#                                <li><a href="#">TENNIS</a></li>#}
                            </ul>
                        </div> <!-- End  Product Details Catagories Area-->
                        <!-- Start  Product Details Social Area-->
                        <div class="product-details-social">
                            <span class="title">PARTAGER CE PRODUIT:</span>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div> <!-- End  Product Details Social Area-->
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Product Details Section -->

    <!-- Start Product Content Tab Section -->

    <!-- Start Product Default Slider Section -->
    <div class="product-default-slider-section section-top-gap-100 section-fluid">
        <!-- Start Section Content Text Area -->
        <div class="section-title-wrapper " >
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-content-gap">
                            <div class="secton-content">
                                <h3 class="section-title">RECOMMENDATIONS</h3>
                                <p>Parcourez la collection de nos produits recommandés.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Section Content Text Area -->
        <div class="product-wrapper ">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-slider-default-1row default-slider-nav-arrow">
                            <!-- Slider main container -->
                            <div class="swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper" >
                                    {% for p in produits %}

                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--golden ">
                                        <div class="image-box">
                                            <a href="" class="image-link">

                                                <img src="{{ asset('/assets/images/' ~ p.pathImage) | imagine_filter('produitfiltre')  }}"
                                                     alt="hi">

                                            </a>
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="{{ path('detail_produit_front',{'id':p.produitId}) }}" >Ajouter au panier</a>
                                                </div>
                                                <div class="action-link-right">

                                                    <a href="{{ path('detail_produit_front',{'id':p.produitId}) }}"><i
                                                                class="icon-magnifier"></i></a>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title"><a href="product-details-default.html">{{ p.nomProduit }}</a></h6>
                                                <ul class="review-star">
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="fill"><i class="ion-android-star"></i></li>
                                                    <li class="empty"><i class="ion-android-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span class="price">{{ p.prixUni }} DT</span>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- End Product Default Single Item -->
                                    {% endfor %}
    <!-- End Product Default Single Item -->
                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-41b4ac6e10451f14" aria-disabled="false"></div>
                            <div class="swiper-button-next swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-41b4ac6e10451f14" aria-disabled="true"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Product Default Slider Section -->



{% endblock %}
