

{% extends 'base.html.twig' %}

{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Gérer les Commandes</h3>
        </div>

    </div>
    <div class="page-wrapper" style="min-height: 656px;">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Gérer les Commandes</h3>
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <h4 class="card-title"><span class="lstick"></span>Liste des Commandes EN ATTENTE</h4>
                                </div>
                            </div>
                            <table class="table">


                                    <thead>


                                    <tr>
                                        <th>Date de Création</th>
                                        <th>total</th>
                                        <th>Nombres de Produits</th>
                                        <th>Mode de Paiement</th>
                                        <th>Client</th>
                                        <th>Email</th>
                                        <th>Actions</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for commande in cn %}
                                        <tr>
                                            <td>{{ commande.dateC |date('d-m-Y')}}</td>
                                            <td>{{ commande.total }}</td>
                                            <td>{{ commande.nbProduit }}</td>
                                            <td>{{ commande.modePaiement }}</td>
                                            <td>{{ commande.fkClientpan.prenom ~" " ~ commande.fkClientpan.nom }}</td>
                                            <td>{{ commande.fkClientpan.email }}</td>


                                            <td>
                                                <a


                                                        class="btn waves-effect waves-light btn-info hidden-md-down text-white"
                                                        class="btn btn-center" href="{{ path('modifierCommande',{'id':commande.commandeId})}}">
                                                    <i
                                                            class="mdi mdi-email"></i></a>





                                            </td>


                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- ================NOT APPROVED================================ -->
                <!-- ============================================================== -->


                <div class="card">
                    <div class="card-body">
                        <div class="d-flex">
                            <div>
                                <h4 class="card-title"><span class="lstick"></span>Liste des Commandes</h4>
                            </div>
                        </div>
                        <table class="table">


                            <thead>


                            <tr>
                                <th>Date de Création</th>
                                <th>total</th>
                                <th>Nombres de Produits</th>
                                <th>Mode de Paiement</th>
                                <th>Nom du Client</th>
                                <th>Actions</th>




                            </tr>
                            </thead>
                            <tbody>
                            {% for commande in c %}
                                <tr>
                                    <td>{{ commande.dateC |date('d-m-Y')}}</td>
                                    <td>{{ commande.total }}</td>
                                    <td>{{ commande.fkClientpan.prenom }}</td>
                                    <td>{{ commande.modePaiement }}</td>
                                    <td>{{ commande.fkClientpan }}</td>

                                    <td>
                                        <a


                                                class="btn waves-effect waves-light btn-info hidden-md-down text-white"
                                                class="btn btn-center" href="{{ path('modifierCommande',{'id':commande.commandeId})}}">
                                            <i
                                                    class="mdi mdi-account-edit"></i></a>



                                        <a
                                                class="btn waves-effect waves-light btn-info hidden-md-down text-white"
                                                class="btn btn-group-sm " href="{{ path('supprimerCommande',{'id':commande.commandeId}) }}"><i
                                                    class="mdi mdi-delete-empty"></i></a>

                                    </td>


                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2022 Go Fit by The Five </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>




{% endblock %}


