{% extends 'frontBase.html.twig' %}

{% block body %}
    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Vos Commandes</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="">acceuil</a></li>
                                    <li><a href="">Boutique</a></li>
                                    <li class="active" aria-current="page"></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Wishlist Section:::... -->
    <div class="wishlist-section">
        <!-- Start Cart Table -->
        <div class="wishlish-table-wrapper" >
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">

                                <table>
                                    <!-- Start Wishlist Table Head -->
                                    <thead>
                                    <tr>
                                        <th >Date</th>
                                        <th> Total</th>
                                        <th >Produits</th>
                                        <th >Mode de Paiement</th>

                                        <th >PDF</th>
                                    </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                    <!-- Start command table-->
                                    {% for commande in c %}
                                    <tr>   {% if commande.statut==1 %}

                                        <td>{{ commande.dateC |date('d-m-Y')}} </td>
                                        <td class="product-price">{{ commande.total }}  DT</td>
                                        <td>{{ commande.nbProduit }} </td>
                                        <td >{{ commande.modePaiement }}</td>

                                        <td ><a href=" {{ path('pdf',{'id':commande.commandeId})  }}" class="btn btn-md btn-golden" >Télécharger PDF</a>
                                        </td>
                                    </tr> <!-- End Wishlist Single Item-->
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Cart Table -->
    </div> <!-- ...:::: End Wishlist Section:::... -->


{% endblock %}
