{% extends 'base-front.html.twig' %}

    {% block body %}

        <div class="breadcrumb-section breadcrumb-bg-color--golden">
            <div class="breadcrumb-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="breadcrumb-title">S'inscrire</h3>
                            <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                                <nav aria-label="breadcrumb">
                                    <ul>
                                        <li><a href="index.html">Accueil</a></li>
                                        <li><a href="index.html">Se connecter</a></li>
                                        <li class="active" aria-current="page">S'inscrire</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            {{ form_start(fa) }}
            <center><h1>S'inscrire</h1></center>
            <br>
            <div class="row">
                <form class="col s12">

                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(fa.Nom) }}
                            {{ form_widget(fa.Nom) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_label(fa.Prenom) }}
                            {{ form_widget(fa.Prenom) }}
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(fa.Email) }}
                            {{ form_widget(fa.Email) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_label(fa.Sexe) }}
                            {{ form_widget(fa.Sexe) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(fa.Adresse) }}
                            {{ form_widget(fa.Adresse) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_label(fa.Region) }}
                            {{ form_widget(fa.Region) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(fa.Role) }}
                            {{ form_widget(fa.Role) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_label(fa.Mdp) }}
                            {{ form_widget(fa.Mdp) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(fa.question) }}
                            {{ form_widget(fa.question) }}
                        </div>
                        <div class="input-field col s6">
                            {{ form_label(fa.reponse) }}
                            {{ form_widget(fa.reponse) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            {{ form_label(fa.Numero) }}
                            {{ form_widget(fa.Numero) }}
                        </div>

                    <div class="input-field col s6">
                        {{ form_label(fa.Datedenaissance )  }}
                        {{ form_widget(fa.Datedenaissance)}}
                    </div>
            </div>
                    <br>
                    <br>
                    <br><br>
                    <br>

                    <center>{{ form_end(fa) }}</center>
                    <br>
                    <br>
                    <br><br>
                    <br>

                </form>


            </div>

        </div>
    {% endblock %}

